@font-face{
	font-family: "roboto";
	src:url("../fuentes/roboto-regular-webfont.woff");
}

@font-face {
    font-family: 'novaregular';
    src: url('../fuentes/novabold-webfont.woff2') format('woff2'),
         url('../fuentes/novabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family: "roboto";
	color: #000000;

background: url(../imagenes/fondo4.png);
}

.contenedor{
	margin: auto;
	padding:10px 15px 0px 15px;
	//background: rgba(251, 255, 255, 0.85);
	background: #FFFFFF;
	-webkit-box-shadow: -1px 3px 13px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 13px -1px rgba(0,0,0,0.75);
box-shadow: -1px 3px 13px -1px rgba(0,0,0,0.75);
	width: 88%;
}


.letra-navbar{
	font-family: "novaregular";
	color: #000000;
	//font-weight: bold;
	
}

.sombra-nav-bar, .contenedor-banner{
	-webkit-box-shadow: 0px 4px 11px -5px rgba(0,0,0,0.71);
-moz-box-shadow: 0px 4px 11px -5px rgba(0,0,0,0.71);
box-shadow: 0px 4px 11px -5px rgba(0,0,0,0.71);
}

.img-banner1{
	//background: url(../imagenes/banner1.jpg);
	width: 100%; /*aumente 100% al img del banner 1*/
}

.contenedor-banner{
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%; /*aumente 100% el contenedor banner del img del banner 1*/
}

.texto1-centrado{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "novaregular";
    padding-top: 0px;
}

.texto2-centrado{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 30px;
    font-family: "novaregular";
    padding-top: 0px;
}

.espacio-bloques{
	margin:30px 10px 10px 10px;
	padding-bottom: 20px;
}

.img-slider{
	width: 100%;
}

.titulo-unidad{
	font-weight: bold;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 2px;

}

.texto-unidad{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.estilo-footer{
	width: 100%;
	overflow: hidden;
	padding: 0px;
	border-style: none;
	background-color: #343a40;
	

	position:absolute; /*quitar si no funciona */
}

.texto-footer{
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.titulo-au{
	text-align: center;
	font-family: "novaregular";
	letter-spacing: 3px;
}

.img-au{
	width: 70%;
	border-radius: 100%;
	box-shadow: 5px 2px 5px 2px rgba(113, 114, 115, 0.52);
	filter: grayscale(100%);
	margin-top: 10px;
	margin-bottom: 15px;
}

.img-au:hover{
	filter: grayscale(0%);
	

}

.img-act{
	width: 96%;
	border-radius: 10%;
}

.img-act:hover{
	width: 88%;
}

.img-cur{
	width: 70%;
	border-radius: 100%;
	box-shadow: 5px 2px 5px 2px rgba(113, 114, 115, 0.52);
	margin-top: 10px;
	margin-bottom: 15px;
}

.nombre-au{

font-size: 13px;
font-weight: bold;
}


.sin-subrayado{
	text-decoration: none;
	color: black;
}

.sin-subrayado:hover{
	text-decoration: none;
	color:black;
}

.texto-justificado{
	text-align: justify;
}

.texto-centrado{
	text-align: center;
}

.imagen-tarea{
	width: 80%;
	margin-top: 10px;
}

.barra-menu{
	width: 100%;
	background-color: #4CBFF4;
	padding-top: 1px;
	border-radius: 50px 50px 50px 50px;

	
}

.titulo-unit{
	font-weight: bold;

}

.classul{
	list-style: none;
	margin-top: 5px;
}

.classul:hover{
list-style-image: url('../imagenes/flecha1.png'); 
}

.menu-cont:hover{
font-weight: bold;

}

.texto-tarea{
	font-weight: bold;
}

.contenedor-menutar{
	width: 100%;
	background: rgba(80, 182, 250, 0.53);
	border-radius: 5px 5px 5px 5px;
}

.backmenu{
	float: right;
	margin-top: 15px;
	color: black;
}

.backmenu:hover{
color: black;
text-decoration: underline;
}

.section-iframe{
	width: 100%;
	margin-top: 10px;
}


.resp-container {
    position: relative;
    overflow: hidden;
    padding-bottom:  56.25%;
    margin-bottom: 15px;
//overflow:auto;
-webkit-overflow-scrolling:touch;
   
  }

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
	//height: 500px;
    width: 100%;
    height:100%;
    border: 0;
}

.vistalib{
	width: 1px; 
	min-width: 100%; 
	*width: 100%;
}

.contenedor-video{
	width: 100%;
	margin-bottom: 10px;
}

/*-------------Estilos responsivos------------*/
@media(min-width: 280px){

	

.texto1-centrado{
	font-size: 18px;
}

.texto2-centrado{
	font-size: 10px;
	background-color: rgba(255, 255, 255, 0.82);
}

.titulo-unidad{
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.texto-unidad{
	font-size: 10px;
	padding-top: 0px;
	margin-top: 0px;
}

.titulo-au{
	font-size: 20px;
}

.esp-boton{
	margin-top: 10px;
}

.texto-tarea{
	font-size: 12px;
	padding-top: 2px;
	margin-top: 10px;
}

.barra-menu{
	margin-top: 25px;
}

.menu-vertical{
	margin-top: 10px;
}

.backmenu{
	font-size: 12px;
}

}

@media(min-width: 480px){

.texto1-centrado{
	font-size: 30px;
}

.texto2-centrado{
	font-size: 16px;
}

.texto2-centrado{
	margin-top: 50px;
}

.titulo-unidad{
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.texto-unidad{
	font-size: 12px;
	padding-top: 0px;
	margin-top: 0px;
}

.titulo-au{
	font-size: 25px;
}

.esp-boton{
	margin-top: 0px;
}

.texto-tarea{
	font-size: 14px;
	padding-top: 2px;
	margin-top: 10px;
}

}

@media(min-width: 768px){

	
.texto1-centrado{
	font-size: 50px;
}

.texto2-centrado{
	margin-top:  100px;
	font-size: 19px;
}

.titulo-unidad{
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 0px;
}

.titulo-au{
	font-size: 35px;
}

.img-cur{
	margin-top: 100px;
}

.texto-tarea{
	font-size: 16px;
	padding-top: 2px;
	margin-top: 10px;
}

.barra-menu{
	margin-top: 20px;
}

.menu-vertical{
	margin-top: 5px;
}

.backmenu{
	font-size: 15px;
}
}

@media(min-width: 1024px){
.texto1-centrado{
	font-size: 60px;
}

.texto2-centrado{
	margin-top:  90px;
	padding-top: 10px;
	font-size: 22px;
}

.titulo-unidad{
	font-size: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.texto-unidad{
	font-size: 16px;
	padding-top: 0px;
	margin-top: 0px;
}


}

@media(min-width: 1280px){
.texto1-centrado{
	font-size: 70px;
}

.texto2-centrado{
	margin-top:  90px;
	padding-top: 10px;
	font-size: 25px;
}
}